<apex:component controller="dateDisplayController">
    <apex:attribute name="time" description="Converts Integer to Time." 
                    type="Integer" assignTo="{! timeValue }" />
    <apex:pageBlock title="Results:">
    	<p>
            <code>time</code> is: {! time }
            <br />
            <code>timeValue</code> is: {! timeValue }
        </p>
        <apex:outputText value="{0, number,0}:{1, number,00}">
            <apex:param value="{! hours }" />
            <apex:param value="{! minutes }" />
        </apex:outputText>
    </apex:pageBlock>
</apex:component>